*{
	margin: 0;
	font-family: sans-serif;
}

.header {
	margin-top: 80px;
}
.contentcontainer{
	max-width: 900px;
	margin: 0 auto;
}

#navcontent{
	height: 80px;
	align-items: center;
	justify-content: center;
}

.navigation{

	background-color: lightgrey;
	position: fixed;
	top:0px;
	height: 80px;
	width: 100%;
}

.navigation>.contentcontainer{
		border-top: 3px solid red;
}

.navlinks{
	float:left;
	margin:5px;
	list-style: none;
}

.navlinks>a{
	text-decoration: none
}
.navlinks>a:hover{
	color:red;
}

#logo{
	max-width: 100px;
	float:left;
	align-items: center;
}

#search{
	max-width: 30px;
	float:right;
}

.title{
	text-align: center;
	font-size: 4em;
}

.subtitle{
	text-align: center;
	font-size: 1.5em;
	width: 400px;
	margin: 10px auto;
}


.gallery>.contentcontainer{
	background-color: blue;
}

header, main, footer{
	width: 100%;
}

#new{
	color:red;
}